<div data-name="<%= upload.name %>" style="display: flex; justify-content: space-between;">
  <div style="flex-basis: 33%"><%= upload.name %></div>
  <div style="flex-basis: 33%">
    <%- if upload.url %>
      <%= link_to 'download', upload.url, target: :_blank %>
    <% else %>
      no download link
    <% end %>
  </div>
  <div style="flex-basis: 33%">
    <%- if upload.error %>
      <%= upload.error %>
    <% else %>
      successful upload
    <% end %>
  </div>
</div>
