<div style="display: flex; flex-direction: column; justify-content: space-around; height: 100vh; align-items: center;">
  <div>Uploads will be listed below.</div>
  <div id="uploads" style="width: 50%">
    <%- list.each do |upload| %>
      <%= render 'upload', upload: upload %>
    <% end %>
  </div>
  <div id="actions">
    <%= link_to "Clear", clear_bucket_path %>
    <%= link_to "Back", root_path %>
  </div>
</div>
